.container {
  width: 390px;
  margin: 0 auto;
  background-color: #f5f5f5;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  /* 로고 스타일 */
}

.icons {
  /* 아이콘 스타일 */
}

main {
  display: flex;
  flex-direction: column;
}

.box {
  flex: 1;
  background-color: white;
  margin-bottom: 10px;
  /* 박스 스타일 */
}

.privacy-policy {
  text-align: center;
  margin-top: 10px;
}

footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

footer img {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}
.footer_icon {
  flex: 1;
  display: flex;
  justify-content: center;
}

.footer_icon_img {
  width: 30px;
  height: 30px;
}
